img {
	width: 10em;
	height: 10em;
	position: relative;
	left: 30%;
	border-radius: 8px;
	object-fit: cover;
}
main {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
div {
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	width: 25em;
	height: 25em;
	text-align: center;
	border-radius: 15px;
	color: white;
}
p,
a {
	font-size: 0.65vw;
	/* color: black; */
}
a:hover {
	color: red;
}
.lecon {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 58, 9, 0.9864320728291317) 48%);
}
.tp {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#p1 {
	color: yellow;
}

#p1:hover {
	color: green;
}

#p2:hover {
	color: aquamarine;
}

@media screen and (max-width: 1410px) {
	main {
		display: flex;
		flex-direction: column;
	}
	div {
		margin: 10px;
	}
	p,
	a {
		font-size: 1.2vw;
	}
}

.p2 {
	cursor: pointer;
	position: relative;
	padding: 10px 20px;
	transition: all 3s;
}
