/* ---------reset css--------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------Reset Css-------- */

a img {
	width: 10vw;
}
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	height: 10vw;
	padding-right: 1vw;
}
header a {
	color: white;
	text-decoration: none;
	font-size: 1vw;
}
header a:hover {
	color: red;
}

/* -------------------------------css du header au dessus-------------- */

/* --------------------Début du footer----------------- */
@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #56a427;
}
footer img {
	width: 5vw;
	margin-right: 2vw;
	cursor: pointer;
}
.iconFooter {
	width: 10vw;
	margin: 0;
	border-radius: 10vw;
}
.link {
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer a {
	color: black;
	text-decoration: none;
	font-size: 2vw;
	margin-bottom: 1vh;
}
footer a:hover {
	color: red;
}

footer img:hover {
	animation: tilt-shaking 0.25s infinite;
}
/* ---------Fin du footer---------- */

/* ------animations scale------ */

@keyframes scaleUp {
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
