/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------Début du code après le reset CSS------------------------ */

/* CSS Version Mobile First */

body {
	background: #f4f0e3;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header a {
	position: absolute;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
}

header img {
	height: 14vh;
	position: absolute;
	z-index: 10;
	object-fit: cover;
}

#myVideo {
	position: relative;
	width: 100%;
	height: 15vh;
	object-fit: cover;
	overflow: hidden;
}

nav img {
	width: 9vw;
	margin-left: 3vw;
	margin-top: 3vw;
	cursor: pointer;
}

p {
	color: #000;
	text-align: center;
	font-family: Lato;
	font-size: 3.7vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 5vw 4vw 5vw;
	text-align: justify;
}
h2 {
	color: #3f170e;
	font-family: "Ms Madi";
	font-size: 10vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 0.2em;
}
main img {
	width: 90vw;
}
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
main .icon img {
	width: 20vw;
	margin-bottom: 8vw;
}

.nousContacter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
	width: 50vw;
	height: 10vw;
	flex-shrink: 0;
	background-color: #148611;
	border-radius: 4.5vw;
	text-decoration: none;
	color: white;
	margin-bottom: 5vw;
	margin-top: 3vw;
}

.nousContacter:hover,    /* page celebrer  hover du bouton suivant*/
.suivant:hover,
.envoyer:hover,.seConnecter:hover {
	background-color: #b09500;
	box-shadow: 6px 8px 9px -2px rgba(0, 0, 0, 0.4);
}

footer {
	background: #e9ae3f;
}

footer .logo {
	width: 20vw;
}

footer .liens {
	width: 90vw;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5vw;
}

footer .icon {
	width: 80vw;
}

footer .liens a {
	text-decoration: none;
	color: #148611;
	font-size: 3.6vw;
}

footer .liens a:hover {
	text-decoration: underline;
	color: #b09500;
}
footer .icon img {
	margin-top: 2vh;
	width: 7vw;
	margin-bottom: 4vw;
}

/* ---------animations---------- */
.icon img:hover {
	animation: bounce 1.5s ease;
	cursor: pointer;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-5px);
	}
}

/* ---page réalisation------------------------------ */

main video {
	width: 90vw;
}

.star {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 55vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.star img {
	width: 6vw;
}
/* -------------------------------- */
/* ---page celebrer------------------------------------- */

.lesRond {
	display: flex;
	justify-content: space-evenly;
	width: 12vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
}
.lesRond img {
	width: 3.5vw;
}
.surMesure h2 {
	text-align: center;
	font-size: 7.5vw;
}
.surMesure,
.questionnaire {
	background: #f4f0cea1;
	margin-bottom: 3vw;
}
.questionnaire h2 {
	font-size: 7vw;
	margin-left: 4.9vw;
}
.questionnaire img {
	display: block;
	margin: auto;
}

.suivant {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
	width: 20vw;
	height: 5vw;
	flex-shrink: 0;
	background-color: #148611;
	border-radius: 2.5vw;
	text-decoration: none;
	color: white;
	/* margin-bottom: 2vw;
	margin-top: 2vw; */
	margin: 2vw 3.5vw 2vw 0;
	float: right;
}

/* --------contact-------- */
form {
	display: flex;
	flex-direction: column;
	width: 90vw;
}
label {
	margin-top: 4vw;
	font-family: "Trebuchet MS";
	color: #3f170e;
	font-size: 4vw;
}
input {
	margin-top: 2vw;
	height: 5vw;
	border-radius: 5vw;
	border-style: none;
}
textarea {
	margin-top: 2vw;
	height: 40vw;
	border-radius: 3.5vw;
	border-style: none;
	resize: vertical;
	margin-bottom: 5vw;
}
.envoyer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
	width: 50vw;
	height: 10vw;
	flex-shrink: 0;
	background-color: #148611;
	border-radius: 4.5vw;
	text-decoration: none;
	color: white;
	margin-bottom: 5vw;
}

/* ------- calendrier-------- */
.calendar-outside {
	width: 80vw;
	margin-top: 7vw;
	margin-bottom: 7vw;
	background-color: white;
	border-radius: 3vw;
	padding: 4vw;
}

.en-tete-calendar {
	display: flex;
	justify-content: space-between;
	margin-top: 3vw;
	padding-top: 5vw;
}
.date-actuel,
.arrow {
	font-size: 4vw;
}
.arrow {
	padding-top: 0.8vw;
	display: flex;
}
#suivant {
	margin-left: 6vw;
	margin-right: 3vw;
}

#suivant {
	margin-bottom: 0.4vw;
	padding-left: 2.7vw;
	padding-top: 1.5vw;
}
#precedant {
	margin-bottom: 0.4vw;
	padding-right: 2.7vw;
	padding-top: 1.8vw;
}
#precedant:hover,
#suivant:hover {
	background-color: lightgray;
	border-radius: 100%;
}

.weeks,
.days {
	display: flex;
}
ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	font-size: 4vw;
	margin-bottom: 6vw;
	margin-top: 6vw;
	font-family: lato;
}
.days li {
	width: 8vw;
	text-align: center;
	padding: 2vw 0 2vw 0;
	margin: 2vw 1.4285714286vw 2vw 1.4285714286vw;
}

.days li:hover {
	background-color: lightgray;
	border-radius: 100%;
}

.currentDay {
	background-color: #148611;
	border-radius: 100%;
}

.days li.currentDay:hover {
	background-color: #e9ae3f;
}

/* ----connexion----- */

#password {
	background: url(../Icons/eyes_hide.svg) no-repeat white;
	background-position: right 3vw center;
	background-size: 4vw;
}

.footerConnexion {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 32vh;
}

.seConnecter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
	width: 50vw;
	height: 10vw;
	flex-shrink: 0;
	background-color: #148611;
	border-radius: 4.5vw;
	text-decoration: none;
	color: white;
	margin-top: 10vw;
}
#username {
	margin-bottom: 6vw;
}

.mdpOublier {
	align-self: flex-end;
	margin-right: 5vw;
	margin-top: 3vw;
	text-decoration: none;
	color: #148611;
	font-size: 3vw;
}
.mdpOublier:hover {
	text-decoration: underline;
	color: #b09500;
}
