@media screen and (max-width: 768px) {
	header {
		background-color: blue;
	}
}
@media screen and (max-width: 576px) {
	header {
		background-color: yellow;
	}
}
@media screen and (max-width: 480px) and (min-width: 390px) {
	header {
		background-color: red;
	}
	main {
		flex-direction: column;
	}
}
@media screen and (max-width: 667px) and (orientation: landscape) {
	header {
		background: rgb(146, 227, 255);
		background: linear-gradient(
			90deg,
			rgba(146, 227, 255, 0.9864320728291317) 4%,
			rgba(129, 153, 255, 1) 42%,
			rgba(113, 241, 255, 0.9864320728291317) 76%,
			rgba(113, 255, 194, 0.9864320728291317) 94%
		);
	}
}
