h1 {
	color: aqua;
}
.age {
	color: red;
}
#about {
	color: purple;
	font-size: 2.5em;
}
header {
	display: flex;
	justify-content: space-around;
}
.textInHeader {
	font-size: 2em;
}
body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
main {
	grid-column: 1/2;
}
nav {
	grid-column: 1/2;
}
