table {
	margin: auto;
	padding: 4vw;
	border-radius: 10px;
}
td {
	text-align: center;
	padding: 1vw;
	background-color: lightgoldenrodyellow;
}
img {
	width: 10vw;
	height: 10vw;
	position: relative;
	object-fit: cover;
}
table,
td {
	border: solid;
	border-collapse: collapse;
	margin-top: 10px;
}
input {
	margin: auto;
	width: 40px;
}
th {
	background-color: aqua;
}
a {
	color: gray;
}
a:hover {
	color: cadetblue;
}
